:root{
    font-family: 'Inter', sans-serif;
    --cor-principal:#210234;
    --cor-secundaria:#5A1087;
    --cor-arrasta: #5A1087;
    --cor-js:#f7d413;
    --cor-css:#2a77e1;
    --cor-html:#f7a713;
    --cor-react:#26c0fd;
    --cor-backhtml:#74500f;
    --cor-backjs:#83710a;
    --cor-backcss:#184686;
    --cor-backreact:#146d91;
    --cor-gradiente:linear-gradient(281.44deg, #30C4F3 -1.03%, #CB35AA 44.86%);
    font-size: 16px;
}
::-webkit-scrollbar {
    width:.5rem;
    height: 10px;
    }
::-webkit-scrollbar-track {
    background:#210234;
}
::-webkit-scrollbar-thumb {
    background:#A2D413;
    border-radius: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}
h1{
    color: #fdfdfd;
}
#paginaInicial{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
section:not(#paginaInicial){
    padding-left: 3vw;
    padding-right: 3vw;
    justify-content: space-evenly;
}
nav a{
    color: #fdfdfd;
    margin-right: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}
#logoNav{
    width: 6rem;
    margin-left: 2.7rem;
}
#apresentacao{
    color: #fdfdfd;
    margin: 0 20vw;
    font-size: 1.5rem;
    line-height: 1rem;
}
#cedraz{
    background: var(--cor-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: inherit;
}
#backgroundPI{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: absolute;
    top:0;
    background-color: var(--cor-principal);
    z-index: -1;
}
#backHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#bolha{
    align-items: flex-end
}
.arrasta{
    display: flex;
    width: 100%;
    justify-content: center;
    margin:2rem 0;
    stroke:var(--cor-secundaria);
}
body section:nth-child(2n) #setaArrasta path{
    stroke: var(--cor-secundaria);
}
section:nth-child(n) #setaArrasta path{
    stroke: var(--cor-principal);
}
#sobre{
    
    background-color: var(--cor-secundaria);
    min-height: 100vh;
    color: #fdfdfd;
    display: flex;
    flex-direction: column;
    
}
.conteudo{
    display: flex;
    width: 100%;
    height: 60%;


}
.contSobre{
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}
#infoSobre{
    width: 60%;
    margin: 0 1rem;

}

#infoSobre p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: justify;
}


#lgSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    gap:3rem
}
.logoSobre{
    width: 13rem;
}
.social:last-child{
    margin:0;
}
#linkSocial{
    font-size: 4.5rem;
    display: flex;
    gap: 1.5rem;
}
.divVertical{
    border-left:solid 6px;
    height: 70%;
}


#projetos{
    min-height: 100vh;
    background-color: var(--cor-principal);
    color: white;
    
    display: flex;
    flex-direction: column;
    
}
#projetos .conteudo{
    flex-direction: column;
    
}
#quadroProjetos{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    margin: 3rem 3rem;

}
.blocos{
    width: 100%;
    height: 200px;
    background-color: #5A1087;
    border-radius: 15px;
}
.oculto{
    width: inherit;
    height: inherit;
    background-color: black;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.blocos:hover .oculto{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
.oculto i{
    color: #fdfdfd;
}

.oculto i:hover{
    color: #CB35AA;
}

#formacao{
    min-height: 100vh;
    background-color: var(--cor-secundaria);

    display: flex;
    flex-direction: column;
    
}

.conteudoFormacao{
    display: flex;
    align-content: center;
    flex-direction: column;
    gap:1rem;
}
.blocoForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 1.5rem 0;
}
.infoForm{
    display:flex;
    flex-direction: column;
}
.textoPrincipalForm{
    font-size: 2.4rem;
    font-weight: 600;
    color:#A2D413;
}
.textSecForm{
    font-size: 2rem;
    font-weight: 500;
    color:#fdfdfd
}
.divVerticalForm{
    border-left:solid 4px #fdfdfd;
    border-radius: 5px;
    height: 100%;
    margin:0 2rem;
}


#hobbies{
    min-height: 100vh;
    background-color: var(--cor-principal);
    display: flex;
    
}
#hobbies .blocos{
    width: 200px;
}
#hobbies .conteudo{
    flex-direction: column;
}
#blocoHobbie , #contSkill{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quadroSkill .bSkill{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bSkill{
    width: 200px;
    height: 200px;
    background-color: #5A1087;
    border-radius: 15px;
}
.bSkill i{
    position: absolute;
    font-size: 5rem;
    color:#fdfdfd;
}
.bSkill__overlay{
    background-color: #000000c2;
    width:inherit ;
    height:inherit ;
    border-radius: inherit;
    z-index: 1;
    position: absolute;
    color: var(--cor-html);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.legendaOverlay{
    color: var(--cor-html);
    font-size: 1.8rem;
    font-weight: 700;
}
.bSkill__overlay>span:nth-child(1){
    font-weight: 500;
    font-size: 1.4rem;
}
.bSkill:hover .bSkill__overlay{
    display: flex;
}
.blocoSkill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blocoSkill h2{
    color: #fdfdfd;
    margin-bottom: 2rem;
}
.icohtml{
    background-color:var(--cor-backhtml) ; 

    

}
.icojs{
    background-color:var(--cor-backjs);
}
.icocss{
    background-color:var(--cor-backcss);
}
.icoreact{
    background-color:var(--cor-backreact);
}

.icohtml span{
    color: var(--cor-html);
}
.icojs span{
    color:var(--cor-js) ;
}
.icocss span{
    color:var(--cor-css) ;
}
.icoreact span{
    color:var(--cor-react) ;
}

.icohtml .blocosProgresso{
    background-color: var(--cor-html);
    height: 10%;
}
.icojs .blocosProgresso{
    background-color: var(--cor-js);
    height: 10%;
}
.icocss .blocosProgresso{
    background-color: var(--cor-css);
    height: 10%;
}
.icoreact .blocosProgresso{
    background-color: var(--cor-react);
    height: 10%;
}
.blocosProgresso{
    width: 100%;
    min-height: 8%;
    clip-path: var(--cor-principal);
    background-color: aqua;
    border-radius: 0px 0px 15px 15px;
    align-self: flex-end;
}
#quadroHobbies, .quadroSkill{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80vw;
    gap: 1rem;
    margin-bottom: 2rem;
}


section#contato{
    min-height: 100vh;
    background-color: var(--cor-secundaria);
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.formsContato{
    display: flex;
    justify-content: center;
    
}
#formulario{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
    height: 70vh;
    margin-top: 1rem;
}
#formulario button{
    width: 25%;
    height: 3rem;
    border:none;
    border-radius: 10px;
    border-radius: 10px;
    background-color: #87B209;
    color: #fdfdfd;
}

.formStyle{
    background-color: #dadada;
    border: none;
    border-bottom:solid 3px #87B209;
    border-radius: 10px;
    padding: 1rem;
} 
.formStyle:active{
    border: none;
}
#formulario > input{
    height: 4rem;
}

#hobbies, #projetos, #sobre{
    padding: 2rem;
}

@media (min-width:2560px) {
    :root{
        font-size: 26px;
    }
    nav{
        background:  linear-gradient(288.18deg, rgba(48, 126, 243, 0.52) 33.15%, rgba(163, 53, 203, 0.52) 72.92%);
        padding: 2rem 2rem 1rem 2rem;
        border-radius: 0px 0px 0px 50px;
    }
    header{
        padding: 0;
    }
    #retangulo{
        display: none;
    }
}
@media (max-width: 880px){ /*Tablet*/
    #paginaInicial{
        background-color: var(--cor-principal);
    }
    #backgroundPI{
        display: none;
    }    
    nav{
        display: none;
    }
    header{
        justify-content: center;
    }
    #miscBack{
        width: 100vw;
        height: 5%;
        background: linear-gradient(98.38deg, #2C56FF 0.79%, #9D34C3 69.4%), #D9D9D9;
        position:absolute;
        z-index: 0;
    }
    #logoNav{
        z-index: 2;
    }
    #apresentacao{
        font-size: 1.3rem;
        margin:0 10vw;
    }
    #apresentacao h1{
        font-size: 3rem;
    }
    body h1{
        font-size: 2.5rem;
        
    }
    section:not(#paginaInicial) h1{
        text-align: center; 
    }
    .contSobre{
        flex-direction: column;
        height: auto;
    }
    #infoSobre{
        width: 100%;
    }
    .bSkill:hover .oculto{
        display: none;
    }
    .bSkill:active .oculto{
        display: flex;
    }
    .logoSobre{
        width: 10rem;
    }
    #linkSocial{
        margin-top: 1rem;
    }
    .blocoForm{
        margin:0;
    }
    #projetos{
        align-items: center;
    }
    #quadroProjetos{
        width: 90%;
        grid-template-columns: 47% 47%;
        grid-template-rows: auto  ;
        margin: 0;
    }    
    #quadroProjetos .blocos{
        width: 100%;
    }
    .textoPrincipalForm {
        font-size: 1.7rem;
    }
    .textSecForm {
        font-size: 1.2rem;
    }
    .bSkill{
        width: 160px;
        height: 160px;
    }
    .conteudoFormacao{
        margin: 0;
        align-items: center;
    }
    #formulario button{
        align-self: center;
        width: 40%;
    }
    
}
@media (max-width:472px ){
    :root{
        font-size: 14px;
    }
    .bSkill{
        width: 130px;
        height: 130px;
    }
    .conteudoFormacao{
        gap: 1.5rem;
    }
    #quadroProjetos {
        width: 80%;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        margin: 0;
    }
}
@media (min-width:630px){
    #apresentacao h1 {
        font-size: 4rem;
    }
}